{% extends "ebook/index.html"%}
 {% block tilte %}
 Home
 {%  endblock %}

 {%block home%}
 <div class="homecontainer">
    <h3 class="heading">Learn Interactively</h3>
    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInput">Name</label>
          <input type="text" class="form-control" id="autoSizingInput" placeholder="Type a keyword...">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
    </form>
 </div>
 {%endblock%}